:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  min-height: 100vh;
}

.ant-layout {
  min-height: 100vh;
  
}

a {
  font-weight: 500;
  color: #1677ff;
  text-decoration: inherit;
}
a:hover {
  color: #0958d9;
}

.danger-row-critical td {
  background: #fff1f0 !important;
}

.danger-row-warning td {
  background: #fffbe6 !important;
}

